@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
// variables
$color-principal: rgb(168, 30, 30);
$color-secundario: #fff;
$color-back: #333;
// mixins
@mixin columna-flexible {
    display: flex;
    flex-direction: column;
}
@mixin mar-pad-0 {
    margin: 0;
    padding: 0;
}

*{
    @include mar-pad-0;
    box-sizing: border-box !important ;
    font-family: Raleway, sans-serif;
}
body {
    @include mar-pad-0;
    background-image: url(../Imagenes/PanchoFondo.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    }
header {
    background-color:#c06c6c;
    color: #800b0b;
    height: 80px;
    }
.imglogo{
    height: 90px;
    padding-left: 20px;
}
.navcompleto{
    @include mar-pad-0;
}
.link{
    font-size: 20px;
    color: $color-secundario;
    border-radius: 10px;
}
.link:hover{
    background-color: #a3430b;
    transition: 0.5s;
}
.divnav{
    @include mar-pad-0;
    background-color: $color-back;
    display: flex;
    height: 120px;
    align-items: center;
}

.contenedorseccion{
    @include mar-pad-0;
    display: flex;
    justify-content: end;
}
main {
    color: #ddd;
    padding: 80px;
    background-size: 700px;
    background-position: top;
    text-align: center;
    }
table {
    width: 100%;
    border-collapse: collapse;
    font-size: 20px;
    }
.tituloTabla {
    font-size: 40px;
    color: $color-principal;
    display: inline-block;
    background-color: $color-back;
    border-radius: 10px;
    margin-bottom: 20px
    }
table th, table td {
    padding: 10px;
    border: 1px solid #ddd;
    }
.abierto {
    text-align: center;
    }
.horario {
    text-align: center;
    }
article section h1 {
    font-size: 50px;
    color: $color-principal;
    background-color: $color-back;
    border-radius: 10px;
    display: inline-block;
    }
main article {
    padding: 20px;
    }
.subtitulo {
    color: $color-principal;
    font-size: 40px;
    background-color: $color-back;
    border-radius: 10px;
    margin-top: 20px;
    display: inline-block;
    }
article section {
    text-align: center;
    }
main article section h3 {
    font-size: 30px;
    background-color: $color-back;
    border-radius: 10px;
    margin-top: 10px;
    }
.titulosImagenes{
    display: flex;
    justify-content: space-around;
    padding-bottom: 50px;
    }

.imagen1A, .imagen2D{
    height:550px;
    border-radius: 20px;
    }
.antesN, .despuesN{
    @include columna-flexible;
}
.contenedorAyD{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    }
.antesText{
    font-size: 60px;
    background-color: $color-back;
    margin-bottom: 20px;
    display: inline-block;
    border-radius: 10px;
    color: $color-principal;
}
.despuesText{
    font-size: 60px;
    background-color: $color-back;
    margin-bottom: 20px;
    display: inline-block;
    border-radius: 10px;
    color: $color-principal;
}
.contenedorMapa {
    display: flex;
    justify-content: center;
    }
.tituloMapa{
    font-size: 60px;
    background-color: $color-back;
    margin-top: 150px;
    border-radius: 10px;
    color: $color-principal;
    margin-bottom: 80px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    }
.direccion{
    display: flex;
    justify-content: center;
    padding-bottom: 150px;
    }
.mapaLocal{
    height: 700px;
    width: 700px;
    border-radius: 10px;
    }
footer {
    background-color: $color-back;
    color: $color-secundario;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    }
footer p {
    font-size: 20px;
    }
footer .copyright{
    text-align: start;
    padding-left: 50px;
    display: flex;
    align-items: center;
    }
footer .redes{
    padding-right: 50px;
    text-align: center;
    }
footer .redes a {
    color: darkorange;
    text-decoration: none;
    margin: 0 10px;
    letter-spacing: 20px;
    font-size: 60px;
    }
    @media screen and (max-width: 1550px){
        .contenedorAyD{
            @include columna-flexible;
            gap: 20px
        }
    }
    @media screen and (max-width: 1550px){
        .imagen1A, .imagen2D{
            height: 50%;
        }
    }
    @media screen and (max-width: 1024px){
        .mapaLocal{
            margin-left: 30px;
            margin-right: 30px;
        }
    }
    @media screen and (max-width: 380px) {
        table th, table td {
            padding: 2px;
            border: 1px solid #ddd;
            }
    }
    @media screen and (max-width: 380px) {
        .tituloMapa{
            font-size: 40px;
            background-color: $color-back;
            margin-top: 100px;
            border-radius: 10px;
            color: $color-principal;
            margin-bottom: 60px;
            text-align: center;
            padding-left: 5px;
            padding-right: 5px;
            }
    }
    @media screen and (max-width: 400px) {
        main article {
            padding: 5px;
            }
    }
    @media screen and (max-width: 400px) {
        .subtitulo {
            color: $color-principal;
            font-size: 30px;
            background-color: $color-back;
            border-radius: 10px;
            margin-top: 10px;
            display: inline-block;
            }
    }
    @media screen and (max-width: 400px){
        main article section h3 {
            font-size: 20px;
            background-color: $color-back;
            border-radius: 10px;
            margin-top: 5px;
            padding: 0;
            }
    }
/*Conocenos*/
article{
    padding: 30px;
    @include columna-flexible;
}
article .conocenos h2{
    font-size: 50px;
    background-color: $color-back;
    display: inline-block;
    border-radius: 10px;
    color: $color-principal;
    margin: 20px;
}
article .conocenos p{
    font-size: 30px;
    background-color: $color-back;
    border-radius: 10px;
    background-color: $color-back;
    color: #ddd;
}
.conocenosfotos{
    padding: 30px;
    display: inline-block;
}
.conocenos h2{
    @include columna-flexible;
}
.conocenosfotos h2{
    font-size: 50px;
    background-color: $color-back;
    border-radius: 10px;
    color: $color-principal;
    display: inline-block;
}
.conocenosfotos div{
    padding: 30px;
}
.conocenosfotos div img{
    height: 600px;
}
.robertoSilva{
    @include columna-flexible;
    align-items: center;
}

.robertoSilva h3{
    font-size: 50px;
    background-color: $color-back;
    color: $color-principal;
    margin-bottom: 40px;
    border-radius: 10px;
    margin-top: 30px;
}
.robertoSilva p{
    font-size: 30px;
    background-color: $color-back;
    color: #ddd;
    border-radius: 10px;
}
.francoSilva{
    @include columna-flexible;
    align-items: center;
}
.francoSilva h3{
    font-size: 50px;
    background-color: $color-back;
    color: $color-principal;
    border-radius: 10px;
    margin-bottom: 40px;
    margin-top: 30px;
}
.francoSilva p{
    font-size: 30px;
    background-color: $color-back;
    color: #ddd;
    border-radius: 10px;
}

@media screen and (max-width: 550px){
    .imagenFranco, .imagenRoberto{
        height: 500px !important;
        margin-left: 10px;
        margin-right: 10px;
    }
}
@media screen and (max-width: 450px){
    .imagenFranco, .imagenRoberto{
        height: 400px !important;
        margin-left: 10px;
        margin-right: 10px;
    }
}
@media screen and (max-width: 370px){
    .imagenFranco, .imagenRoberto{
        height: 350px !important;
        margin-left: 2px;
        margin-right: 2px;
    }
}
@media screen and (max-width: 370px){
    .conocenosfotos div{
        padding: 5px;
    }
}
@media screen and (max-width: 370px){
    .conocenosfotos{
        padding: 3px;
        display: inline-block;
    }
}
/*Proveedores*/
.mainproveedores{
    @include columna-flexible;
    align-items: center;
}
.proveedores {
    font-size: 50px;
    background-color: $color-back;
    border-radius: 10px;
    color: $color-principal;
    justify-content: center;
    padding: 10px;
}
.tituloHellmans{
    background-color: $color-back;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
}
.hellmans{
    font-size: 40px;
    margin: 40px;
    display: grid;
    grid-template-areas:
    "fabrica fabrica fabrica"
    "mayonesa ketchup salsaGolf";
    gap: 20px;
}
.fabricaHellmans{
    grid-area: fabrica;
}
.mayonesaHellmans{
    grid-area: mayonesa;
}
.ketchupHellmans{
    grid-area: ketchup;
}
.salsaGolfHellmans{
    grid-area: salsaGolf;
}
.imgFabrica{
    height: 800px;
    border-radius: 20px;
}
.imgMayonesa{
    height: 500px;
    border-radius: 20px;
}
.imgKetchup{
    height: 500px;
    border-radius: 20px;
}
.imgSalsaGolf{
    height: 500px;
    border-radius: 20px;
}
.salchichas{
    margin: 20px;
    padding: 0;
    @include columna-flexible;
    align-items: center;
}
.salchichas h3{
    font-size: 40px;
    background-color: $color-back;
    color: $color-principal;
    inline-size: 120px;
    border-radius: 10px;
}
.salchichas img{
    margin: 30px;
    height: 400px;
    align-items: center;
    border-radius: 40px;
}
.imgsalchichas{
    @include columna-flexible;
}
@media screen and (max-width: 1600px) {
    .hellmans{
        font-size: 40px;
        margin: 40px;
        display: grid;
        grid-template-areas:
        "fabrica"
        "mayonesa"
        "ketchup"
        "salsaGolf";
        gap: 20px;
    }
}
@media screen and (max-width: 1600px) {
    .imgFabrica{
        height: 500px;
        border-radius: 20px;
    }
}
@media screen and (max-width: 1600px) {
    .imgFabrica{
        height: 500px;
        border-radius: 20px;
    }
}
@media screen and (max-width: 1000px) {
    .imgFabrica{
        height: 450px;
        border-radius: 20px;
    }
}
@media screen and (max-width: 890px) {
    .imgFabrica{
        height: 400px;
        border-radius: 20px;
    }
}
@media screen and (max-width: 770px) {
    .imgFabrica{
        height: 320px;
        border-radius: 20px;
    }
}
@media screen and (max-width: 576px) {
    .imgFabrica{
        height: 250px;
        border-radius: 20px;
    }
}
@media screen and (max-width: 503px) {
    .imgFabrica{
        height: 200px;
        border-radius: 20px;
    }
}
@media screen and (max-width: 415px) {
    .imgFabrica{
        height: 160px;
        border-radius: 20px;
    }
}
@media screen and (max-width: 770px) {
    .imgMayonesa, .imgKetchup, .imgSalsaGolf{
        height: 400px;
        border-radius: 20px;
    }
}
@media screen and (max-width: 576px) {
    .imgMayonesa, .imgKetchup, .imgSalsaGolf{
        height: 350px;
        border-radius: 20px;
    }
}
@media screen and (max-width: 503px) {
    .imgMayonesa, .imgKetchup, .imgSalsaGolf{
        height: 320px;
        border-radius: 20px;
    }
}
@media screen and (max-width: 415px) {
    .imgMayonesa, .imgKetchup, .imgSalsaGolf{
        height: 260px;
        border-radius: 20px;
    }
}
@media screen and (max-width: 770px) {
    .salchichas img{
        margin: 30px;
        height: 320px;
        align-items: center;
        border-radius: 20px;
    }
}
@media screen and (max-width: 576px) {
    .salchichas img{
        margin: 30px;
        height: 250px;
        align-items: center;
        border-radius: 20px;
    }
}
@media screen and (max-width: 503px) {
    .salchichas img{
        margin: 20px;
        height: 200px;
        align-items: center;
        border-radius: 20px;
    }
}
@media screen and (max-width: 415px) {
    .salchichas img{
        margin: 10px;
        height: 167px;
        align-items: center;
        border-radius: 20px;
    }
}
/*Nuestros Productos*/
.fullProductos{
    font-size: 35px;
    display: grid;
    grid-template-areas: 
    "milanesa milanesa lomito lomito"
    "oklahoma americana chesse clasica"
    "salame jamon mortadela ternera";
    margin-top: 40px;
    box-sizing: border-box;
    gap: 20px;
    justify-content: center;
    margin-left: 100px !important;
    margin-right: 100px !important;
}
.fullProductos h3{
    padding: 10px;
    background-color: $color-back;
    border-radius: 20px;
    text-align: center;
    margin: 10px;
    color: $color-secundario;
}
.productos{
    font-size: 50px;
    margin-top: 20px;
    padding: 0;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}
.productos h2{
    background-color: $color-back;
    border-radius: 20px;
    display: inline-block;
    color: $color-principal;
    padding: 10px;
}
.milanesa{
    @include columna-flexible;
    text-align: center;
    grid-area: milanesa;
    gap: 10px;
    box-sizing: border-box;
}
.milanesaimg{
    height: 450px;
    border-radius: 30px;
}
.lomito{
    text-align: center;
    @include columna-flexible;
    grid-area: lomito;
    gap: 10px;
    box-sizing: border-box;
}
.lomitoimg{
    height: 450px;
    border-radius: 30px;
}
.oklahoma{
    @include columna-flexible;
    align-items: center;
    grid-area: oklahoma;
    gap: 10px;
}
.oklahoma img{
    height: 550px;
    border-radius: 30px;
}
.americana{
    @include columna-flexible;
    align-items: center;
    grid-area: americana;
    gap: 10px;
}
.americana img{
    height: 550px;
    border-radius: 30px;
}
.chesse{
    @include columna-flexible;
    align-items: center;
    grid-area: chesse;
    gap: 10px;
}
.chesse img{
    height: 550px;
    border-radius: 30px;
}
.clasica{
    @include columna-flexible;
    align-items: center;
    grid-area: clasica;
    gap: 10px;
}
.clasica img{
    height: 550px;
    border-radius: 30px;
}
.salameycheddar{
    @include columna-flexible;
    align-items: center;
    grid-area: salame;
    gap: 10px;
}
.jamonytybo{
    @include columna-flexible;
    align-items: center;
    grid-area: jamon;
    gap: 10px;
}
.mortadelaytybo{
    @include columna-flexible;
    align-items: center;
    grid-area: mortadela;
    gap: 10px;
}
.apretadoimg{
    height: 550px;
    border-radius: 30px;
}
@media screen and (max-width: 1750px) {
    .apretadoimg{
        height: 450px !important;
        height: 50%;
    }   
}
@media screen and (max-width: 1480px) {
    .apretadoimg{
        height: 350px !important;
        height: 50%;
    } 
}
@media screen and (max-width: 420px) {
    .apretadoimg{
        height: 250px !important;
    }
}
@media screen and (max-width: 1750px) {
    .burguerimg{
        height: 450px !important;
    }
}
@media screen and (max-width: 1480px) {
    .burguerimg{
        height: 350px !important;
    }
}
@media screen and (max-width: 420px) {
    .burguerimg{
        height: 250px !important;
    }
}
@media screen and (max-width: 1350px) {
    .fullProductos{
        font-size: 35px;
        display: grid;
        grid-template-areas: 
        "milanesa milanesa"
        "lomito lomito"
        "oklahoma americana"
        "chesse clasica"
        "salame jamon"
        "mortadela ternera";
        margin-top: 40px;
        box-sizing: border-box;
        gap: 20px;
        justify-content: center !important;
        margin-left: 60px !important;
        margin-right: 60px !important;
        
    }
}
@media screen and (max-width: 1350px) {
    .milanesa, .lomito{
        text-align: center;
        margin: 40px;
    }
}
@media screen and (max-width: 800px) {
    .fullProductos{
        font-size: 35px;
        display: grid;
        grid-template-areas: 
        "milanesa"
        "lomito"
        "oklahoma"
        "americana"
        "chesse"
        "clasica"
        "salame"
        "jamon"
        "mortadela"
        "ternera";
        margin-top: 40px;
        box-sizing: border-box;
        justify-content: center !important;
        align-items: center;
    }
}
@media screen and (max-width: 1750px) {
    .milanesaimg, .lomitoimg {
        height: 350px !important;
        border-radius: 30px;
        background-size: cover;
        background-position: center;
        box-sizing: border-box;
    }
}
@media screen and (max-width: 1350px) {
    .milanesaimg, .lomitoimg {
        height: 300px !important;
        border-radius: 30px;
        background-size: cover;
        background-position: center;
        box-sizing: border-box;
    }
}
@media screen and (max-width: 800px) {
    .milanesaimg, .lomitoimg {
        height: 250px !important;
        border-radius: 30px;
        background-size: cover;
        background-position: center;
        box-sizing: border-box;
    }
}
@media screen and (max-width: 600px) {
    .milanesaimg, .lomitoimg {
        height: 200px !important;
        border-radius: 30px;
        box-sizing: border-box;
        margin: 10px !important;
    }
}
@media screen and (max-width: 420px) {
    .milanesaimg, .lomitoimg {
        height: 150px !important;
        border-radius: 30px;
        box-sizing: border-box;
        margin: 10px !important;
    }
}
@media screen and (max-width: 380px) {
    .milanesaimg, .lomitoimg {
        height: 120px !important;
        border-radius: 30px;
        box-sizing: border-box;
        margin: 10px !important;
    }
}
@media screen and (max-width: 500px) {
    .fullProductos{
        font-size: 35px;
        display: grid;
        grid-template-areas: 
        "milanesa"
        "lomito"
        "oklahoma"
        "americana"
        "chesse"
        "clasica"
        "salame"
        "jamon"
        "mortadela"
        "ternera";
        box-sizing: border-box;
        justify-content: center !important;
        align-items: center;
        margin: 10px !important;
    }
}
/*Contactanos*/
.mainContactanos{
    padding: 0;
    margin: 80px;
}
.contenedorForm{
    height: 500px;
    border: 1px solid orangered;
    width: 500px;
    display: inline-block;
    background-color: rgba(231, 139, 34, 0.473);
    border-radius: 50px;
}
.contenedorForm2{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 20px 60px 10px 60px;
    align-items: center;
}
.cuadro{
    border-radius: 5px;
    text-align: center;
    width: 300px;
}
.botones{
    width: 120px;
}
.botonreset{
    margin-top: 20px;
}
@media screen and (max-width: 580px){
    .contenedorForm{
        height: 450px;
        border: 1px solid orangered;
        width: 350px;
        display: inline-block;
        background-color: rgba(231, 139, 34, 0.473);
        border-radius: 50px;
    }
}
@media screen and (max-width: 580px){
    .cuadro{
        border-radius: 5px;
        text-align: center;
        width: 260px;
    }
}
@media screen and (max-width: 450px){
    .contenedorForm{
        height: 450px;
        border: 1px solid orangered;
        width: 270px;
        display: inline-block;
        background-color: rgba(231, 139, 34, 0.473);
        border-radius: 50px;
        padding: 0;
        margin: 0;
    }
}
@media screen and (max-width: 450px){
    .cuadro{
        border-radius: 5px;
        text-align: center;
        width: 240px;
    }
}
@media screen and (max-width: 450px){
    .contenedorForm2{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        align-items: center;
    }
}
@media screen and (max-width: 400px){
    .mainContactanos{
        padding: 0;
        margin: 80px 10px 80px 10px;
    }
}